{% extends 'mediumparser/base.html' %}
{% load static %}
{% load rest_framework %}

{% block title %}Medium{% endblock %}

{% block head_ext %}
<link rel="stylesheet" type="text/css" href="{% static 'mediumparser/article.css' %}" />
<script src="{% static 'mediumparser/js/article.js' %}"></script> 
{% endblock %}

{% block content %}
<div style="display:none">
    <div id="article-id">{{ pk }}</div>
</div>

<div id="show-article">
    <p>
        <label>Title: </label>
        <div id="article-title"></div>
    </p>
    <p>
        <label>URL: </label>
        <div id="article-url"></div>
    </p>
    <p>
        <label>Text: </label>
        <div id="article-text"></div>
    </p>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateArticleModal">Edit</button>

<div class="modal fade" id="updateArticleModal" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Update article
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body" >    
                <form id="updateArticleForm">
                    <label>Title: </label>
                    <p><input type="text" id="article-title" name="title"></input></p>
                    <label>URL: </label>
                    <p><input type="text" id="article-url" name="url"></input></p> 
                    <label>Text: </label>
                    <p><input type="text" id="article-text" name="text"></input></p>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitArticleForm" class="btn btn-primary">Update article</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
