{% extends 'mediumparser/base.html' %}

{% block title %}Medium{% endblock %}

{% block content %}
<form action="" method="get">
    {{ articles.form.as_p }}
    <input type="submit" value="Search"/> 
</form>
<div class="row" >
    <div class="col-md-6">
        {% for article in articles.qs %}
            <div class="bx-content">
                <h2><a href='article/{{ article.id }}'>{{ article.title }}</a></h2>
                <div class="news-content">{{ article.text|truncatechars:300 }}
                    <ul>
                        {% for tag in article.tags.all %}
                            <li><h6>{{tag.name}}</h6></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Create article</button>
        </form>
    </div>
</div>
{% endblock %}
