{% extends "mediumparser/base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
<script src="{% static 'mediumparser/js/profile.js' %}"></script> 
{% endblock head %}
{% block content %}
<h4>Articles:</h4>
<div class="row" >
  <div class="col-md-6">
      {% for article in articles %}
          <div class="bx-content">
              <h2><a href='article/{{ article.id }}'>{{ article.title }}</a></h2>
              <div class="news-content">{{ article.text|truncatechars:300 }}
                  <h5> Author : <a href="/profile/{{article.author_id}}">{{article.author}}</a> </h5>
                  <ul>
                      {% for tag in article.tags.all %}
                          <li><h6>{{tag.name}}</h6></li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
      {% endfor %}
  </div>
  <div class="col-md-6">
      <ul>
        <li>Username: {{ user.username }}</li>
        <li>User Full name: {{ user.get_full_name }}</li>
        <li>Email: {{ user.email }}</li> 
        <li> Session Started at: {{ user.last_login }}</li>
      </ul>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateProfileModal">Edit</button>

      <div class="modal fade" id="updateProfileModal" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      Update profile
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              
                  <div class="modal-body" >    
                      <form id="updateProfileForm">
                          <label>Username: </label>
                          <p><input type="text" id="profile-username" name="username"></input></p>
                          <label>Email: </label>
                          <p><input type="text" id="profile-email" name="email"></input></p> 
                          <label>Confirm_email: </label>
                          <p><input type="text" id="profile-confirm_email" name="confirm_email"></input></p>
                          <label>Password: </label>
                          <p><input type="text" id="profile-password" name="password"></input></p>
                      </form>
                  </div>
      
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button id="submitProfileForm" class="btn btn-primary">Update profile</button>
                  </div>
              </div>
          </div>
</div>
{% endblock %}